@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 85vw;
  margin: 0 auto;
  padding: 0 5px;
  height: 100%;
  overflow-x: hidden;
}

a {
  font-size: 2.5vmin;
  text-decoration: none;
  color: #000;
}
li {
  list-style: none;
}

.sticky {
  background: #fff;
  box-shadow: 0 0.063rem 0.625rem 0 rgba(0, 0, 0, 0.2);
  transition-duration: 0.8s;
}

section {
  width: 100vw;
  height: 100vh;
}

.row {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.row > div {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a:focus {
  outline: none;
}

/* Button Active */
.btn-active {
  padding: 0.65vw 1.6vw;
  background: #ff8928;
  border-radius: 12px;
  color: #fff;
  border: 2px solid transparent;
}
.btn-active:hover {
  border: 2px solid tomato;
  color: tomato;
  background: transparent;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 12vmin;
  z-index: 100;
  overflow: hidden;
}
.navbar > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .logo {
  font-size: 1.5vmin;
}
.navbar .logo h1::before {
  content: "Me";
  color: #ff8928;
}
.navbar .nav-icon {
  cursor: pointer;
}
.navbar .nav-list {
  display: none;
}
.navbar .nav-list .nav-item {
  display: inline-block;
  margin: 0 1.5vw;
  font-weight: 700;
}

/* Home Page */
.home-area .bg-home {
  background: #ffd4a9;
  position: absolute;
  top: 0;
  right: 0;
  width: 50vw;
  height: 100%;
  display: flex;
  align-items: center;
  border-bottom-left-radius: 150px;
  z-index: -100;
}
.home-area .bg-home #home-img {
  width: 100%;
  height: 100%;
}
.home-area .home-content {
  font-size: 2.8vmax;
  line-height: 10vmin;
}
.home-area .home-content h5 {
  letter-spacing: 1vw;
}
.home-area .home-content h1::after {
  content: " Sakon Kanpitak";
  color: #ff8928;
}
.home-area .home-content p {
  color: #777777ab;
}
.home-area .home-content p::after {
  content: "";
  border-right: 0.4vw solid #000;
  animation: typing 1s infinite;
}
@keyframes typing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.home-area .home-content .btn-link {
  margin-top: 15px;
  font-weight: 700;
}
.home-area .home-content .arrow-down {
  cursor: pointer;
  display: none;
}

/* About Page */
.about-area .about-img {
  height: 100%;
}
.about-area .about-img #about-img {
  width: 100%;
  height: 100%;
}
.about-area .about-content {
  font-size: 2.8vmin;
}
.about-area .about-content h1 {
  font-size: 2em;
  margin-bottom: 10px;
}
.about-area .about-content p {
  text-indent: 30px;
}
.about-area .about-content .about-btn {
  margin-top: 40px;
  font-weight: 700;
}

.about-list {
  margin-top: 20px;
  margin-left: 30px;
  line-height: 5vmin;
}
.about-list li {
  width: 100%;
  display: flex;
}
.about-list li label {
  font-weight: 700;
  width: 28%;
}
.about-list li span {
  width: 72%;
}

/* Footer Page */
.footer-area {
  background: #424242;
  padding: 50px 0;
}
.footer-area .row {
  margin: 0 auto;
  width: 80%;
  height: 100%;
}
.footer-area .row > div {
  height: 100%;
}
.footer-area .col-1 .follow-us-item {
  display: flex;
}
.footer-area .col-1 .follow-us-item li {
  margin: 0 8px;
}
.footer-area .col-2 {
  padding: 0 auto;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 700px) {
  .navbar .nav-icon .close-menu {
    display: none;
  }
  .navbar .show {
    transform: translateX(0);
  }
  .navbar .nav-list {
    position: fixed;
    top: 12vmin;
    left: 0;
    width: 100%;
    height: 60vh;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: none;
  }
  .navbar .nav-list .nav-item {
    width: 100%;
    line-height: 3.5rem;
    text-align: center;
  }
  .navbar .nav-list .nav-item a {
    font-size: 1.2rem;
  }
  .navbar .nav-list .nav-item:hover {
    background: gray;
  }
  .navbar .nav-list .nav-item .btn-active {
    padding: 0;
    background: 0;
    color: #000;
    border: none;
  }

  .home-area .bg-home {
    border-bottom-left-radius: 0px;
    width: 50%;
  }
  .home-area .bg-home #home-img {
    display: none;
  }
  .home-area .row {
    display: flex;
    justify-content: center;
  }
  .home-area .row .home-content {
    width: 100%;
    text-align: center;
    line-height: 8vmax;
  }
  .home-area .row .home-content .arrow-down {
    display: block;
    animation: down 2s infinite;
  }
  @keyframes down {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: translateY(15px);
    }
  }

  .about-area .about-img {
    display: none;
  }
  .about-area .about-content {
    font-size: 0.85rem;
    width: 100%;
  }
  .about-area .about-content h1 {
    text-align: center;
  }

  .footer-area .row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

/*# sourceMappingURL=index.css.map */
