/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 12vmin;
    z-index: 100;
    overflow: hidden;
    & > .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        font-size: 1.5vmin;
        h1::before {
            content: "Me";
            color: $font-color;
        }
    }

    .nav-icon {
        cursor: pointer;
    }

    .nav-list {
        display: none;
        .nav-item {
            display: inline-block;
            margin: 0 1.5vw;
            font-weight: $font-bold;
        }
    }
}

/* Home Page */
.home-area {
    .bg-home {
        background: $second-color;
        position: absolute;
        top: 0;
        right: 0;
        width: 50vw;
        height: 100%;
        display: flex;
        align-items: center;
        border-bottom-left-radius: 150px;
        z-index: -100;
        #home-img {
            width: 100%;
            height: 100%;
        }
    }
    .home-content {
        font-size: 2.8vmax;
        line-height: 10vmin;

        h5 {
            letter-spacing: 1vw;
        }

        h1::after {
            content: " Sakon Kanpitak";
            color: $font-color;
        }

        p {
            color: #777777ab;
            &::after {
                content: "";
                border-right: 0.4vw solid #000;
                animation: typing 1s infinite;
            }

            @keyframes typing {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
        }

        .btn-link {
            margin-top: 15px;
            font-weight: $font-bold;
        }

        .arrow-down {
            cursor: pointer;
            display: none;
        }
    }
}

/* About Page */
.about-area {
    .about-img {
        height: 100%;
        #about-img {
            width: 100%;
            height: 100%;
        }
    }
    .about-content {
        font-size: 2.8vmin;
        h1 {
            font-size: 2em;
            margin-bottom: 10px;
        }
        p {
            text-indent: 30px;
        }

        .about-btn {
            margin-top: 40px;
            font-weight: $font-bold;
        }
    }
}

.about-list {
    margin-top: 20px;
    margin-left: 30px;
    line-height: 5vmin;

    li {
        width: 100%;
        display: flex;
        label {
            font-weight: $font-bold;
            width: 28%;
        }
        span {
            width: 100%-28%;
        }
    }
}

/* Footer Page */
.footer-area {
    background: rgb(66, 66, 66);
    padding: 50px 0;
    .row {
        margin: 0 auto;
        width: 80%;
        height: 100%;

        & > div {
            // display: flex;
            // justify-content: start;
            height: 100%;
        }
    }
    .col-1 {
        .follow-us-item {
            display: flex;
            li {
                margin: 0 8px;
            }
        }
    }

    .col-2 {
        padding: 0 auto;
        display: flex;
        align-items: center;
    }
}
