/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 12vmin;
    z-index: 100;
    overflow: hidden;
    & > .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        font-size: 1.5vmin;
        h1::before {
            content: "Me";
            color: $font-color;
        }
    }

    .nav-list {
        display: flex;
        .nav-icon{
            display: none;
            cursor: pointer;
        }
        .nav-item{
            margin: 0 1.5vw;
            font-weight: $font-bold;
        }
    }
}

/* Home Page */
.home-area {
    .bg-home {
        background: $second-color;
        position: absolute;
        top: 0;
        right: 0;
        width: 50vw;
        height: 100%;
        display: flex;
        align-items: center;
        border-bottom-left-radius: 150px;
        z-index: -100;
        #home-img {
            width: 100%;
            height: 100%;
        }
    }
    .home-content {
        font-size: 2.5vw;

        h5 {
            letter-spacing: 1vw;
        }

        h1::after {
            content: " Sakon Kanpitak";
            color: $font-color;
        }

        p{
            color: #777777ab;
            &::after {
                content: "";
                border-right: 0.4vw solid #000;
                animation: typing 1s infinite;
            }
    
            @keyframes typing{
                0%{
                    opacity: 0;
                }
                100%{
                    opacity: 1;
                }
            }
        }

        .btn-link {
            font-weight: $font-bold;
        }

        .arrow-down{
            cursor: pointer;
            display: none;
        }
    }
}

/* Button Active */
@mixin transform($radius, $padding, $color, $bg) {
    padding: $padding;
    background: $bg;
    border-radius: $radius;
    color: $color;
}

.btn-active {
    @include transform(10rem, 0.8vw 1.5vw, #fff, $font-color);
    border: 2px solid transparent;

    &:hover{
        border: 2px solid tomato;
        color: tomato;
        background: transparent;
    }
}

/* About Page */
.about-area {
    .about-img{
        height: 100%;
    }
    .about-content {
        font-size: 2.5vmin;
        p {
            text-indent: 30px;
        }

        .about-btn {
            margin-top: 40px;
            font-weight: $font-bold;
        }
    }
}

.about-list {
    margin-top: 20px;
    margin-left: 30px;
    line-height: 5vmin;

    li {
        width: 100%;
        display: flex;
        label {
            font-weight: $font-bold;
            width: 25%;
        }
        span {
            width: 75%;
        }
    }
}
